@media screen and (max-width:500px) {
    html,
    body {
        height: 100%;
        width: 100%;
    }
    .logo {
        width: 110px;
        height: 54px;
    }
    .navbar {
        padding-top: 0px !important;
    }
    .navbar .navbar-toggler:focus {
        color: white;
    }
    .navbar-collapse {
        background-color: #525252;
        margin-top: -5px;
        padding-bottom: 5px;
    }
    .navbar-collapse .rounded-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .rounded-btn {
        margin-top: 10px;
    }
    .navbar-toggler-icon {
        color: white;
        font-size: 28px;
    }
    .login-rounded-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .mainscreen-btn {
        height: 45px;
        width: 190px;
        font-size: 16px;
    }
    .main-text {
        margin-left: 1rem;
    }
    .banner-btn {
        margin-top: 1.5rem;
    }
    .main-text h1 {
        font-size: 30px;
    }
    .sub-text {
        font-size: 10px;
    }
    .sub-text img {
        margin-right: 4px;
        height: 10px;
        width: 13px;
    }
    .curvearrow {
        display: none;
    }
    .down-arrow img {
        padding-bottom: 10px;
    }
    .svgs {
        margin-top: 3rem !important;
    }
    .svgs .sub-text {
        font-size: 14px;
    }
    .helperland-txt {
        font-size: 32px;
    }
    .img-textsection img {
        height: 240px;
        width: 240px;
    }
    .img-textsection h3 {
        font-size: 22px;
    }
    .img-textsection p {
        font-size: 13px;
    }
    .img-textsection h3,
    .img-textsection p {
        margin-top: 0.8rem;
    }
    .curve {
        display: none;
    }
    .main-text p {
        font-size: 0.8rem;
    }
    .left-bg img,
    .right-bg img {
        display: none;
    }
    .blog-texts h3 {
        font-size: 25px;
    }
    .blog-texts p {
        font-size: 14px;
    }
    .our-blog-txt {
        font-size: 32px;
    }
    .blog-sec1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .blog-img {
        margin-top: -20px;
    }
    .blog-img img {
        width: 250px;
    }
    .blog-texts {
        margin-top: 2rem;
    }
    .community-title {
        padding-bottom: 2%;
        font-size: 30px;
    }
    .sec4-card {
        margin-top: 1%;
        width: 18rem !important;
    }
    .blog .card {
        width: 18rem !important;
        margin: 2% auto;
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-submit {
        /* margin-left: -20px; */
        margin-top: 10px;
    }
    .newsletter-input .form-group .form-control {
        width: 17rem;
        /* margin-left: -20px; */
    }
    .up-arrow {
        margin-left: 6%;
        width: 40px;
        height: 40px;
    }
    .timer-icon img {
        right: 0;
        width: 45px;
        height: 45px;
        margin: -30px 15px 0px;
    }
    .footer-section {
        height: max-content;
    }
    .footer-content {
        display: inline;
    }
    .footer-content img {
        margin-top: 10px;
    }
    .footer-content i {
        margin-top: 10px;
        margin-left: 43%;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-nav {
        margin-top: 10px;
    }
    .fb-icon,
    .insta-icon {
        margin-left: 0;
        margin-right: 0;
    }
    .privacy-policy-sec {
        display: inline-block;
        text-align: center;
    }
    .btn-ok {
        width: 70px;
        height: 30px;
        margin-top: 10px;
    }
    /*---------- for FAQ Section ------------*/
    .faq-nav {
        background-color: #525252;
    }
    .faq-banner-img .faq-navbar .navbar-collapse .rounded-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .booknow-rounded-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .faq-banner-img img {
        max-width: 100%;
        margin-top: 4rem;
    }
    .tabs {
        width: 300px;
    }
    .tabs .nav-item {
        width: 50%;
    }
    .tabs .nav-item a {
        font-size: 18px;
    }
    .btn::before {
        content: url("../images/down-arrow(1).png");
        float: left;
        margin-right: 10px;
    }
    .btn.collapsed::before {
        content: url("../images/right-arrow.png");
        margin-right: 10px;
    }
    .faq-navbar .navbar-collapse .rounded-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .faq-newsletter .newsletter-input .form-group {
        flex-direction: column;
    }
    .faq-footer .footer-content img {
        display: block;
        margin: 0 auto;
    }
    .faq-heading {
        font-size: 30px;
    }
    .footer-line {
        width: auto;
    }
    /* prices section */
    .prices-banner-img img {
        max-width: 100%;
        margin-top: 3.7rem;
    }
    .price-card {
        width: 320px;
    }
    .check-items {
        margin-left: 40px;
    }
    .center-img {
        display: none;
    }
    .cleaning-section {
        padding-top: 10px;
    }
    .cleaning-card .sample-photo {
        width: 300px;
        height: 210px;
        margin-top: 2rem;
    }
    .cleaning-section h3 {
        font-size: 28px;
    }
    .cleaning-card {
        text-align: center;
    }
    .cleaning-card-info {
        margin-left: 1.8rem;
    }
    .why-this {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .left-text h5,
    .left-text p,
    .right-text h5,
    .right-text p {
        text-align: center;
        margin-left: 0px;
    }
    .left-text h5,
    .right-text h5 {
        font-size: 22px;
        margin-top: 15px;
    }
    .prices-timer-icon {
        margin-right: 0.5rem;
    }
    /*---------------- Contact page ---------------------*/
    .contact-info img {
        margin-top: 2.5rem;
    }
    .contact-form .form-group {
        margin-bottom: 0 !important;
    }
    .contact-form form {
        width: 315px;
    }
    .input-group-text {
        margin-left: 5px;
    }
    .contact-form .form-control {
        width: 303px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-form .names {
        margin-top: 15px;
    }
    .username {
        width: 249px !important;
        margin-left: -0.5px !important;
    }
    .phone-email .input-group {
        margin-top: 0px;
    }
    .subject-selection {
        text-align: center;
        margin-top: 15px;
    }
    .subject-select {
        width: 303px !important;
    }
    .msg-area {
        width: 303px !important;
        margin-top: 15px;
    }
    .red-mark {
        width: 30px;
        height: 50px;
        top: 22%;
    }
    /*----------------- about section -----------------*/
    .paragraphs {
        margin-left: 20px;
        margin-right: 20px;
    }
    .paragraphs p {
        text-align: justify;
    }
}